@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
}

/* paleta de colores: #1A374E #D5F0E9 #FFFFFF #77A3C7 */

body{
    font-family: "Quicksand","Maven+Pro";
    background-color: #D5F0E9;
    width: 100%;
}
li{
    list-style-type: none;
}
header{
    color: #ffffff;
    background-color: #1A374E;
    width: 100%;
    padding: 15px;
    position: fixed;
}
.navbar {
    width: 100%;
} 
.barra{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
}
.navbar-style .navbar-brand{ 
    color: #ffffff;
    font-weight: 600;
    width: 100%;
    font-size: medium;
    text-align: center;
    white-space: normal;
    word-wrap: normal;
}
button.navbar-toggler{
    border: 1px solid #77A3C7;
}
.navbar-style .navbar-nav .nav-link{
    color: #ffffff;
    text-align: end;
}
.navbar-style .navbar-nav .nav-link:hover{
    font-size: 20px;
    font-weight: 500;
}
.logo{
    width: 33px;
}
.portada{
    position: static;
    width: 100%;
    margin-top: 104px;
}
h1{
    color: #77A3C7;
    font-weight: 700;
    text-align: center;
    text-shadow: 
                2px 2px 5px rgba(0, 0, 0, 0.1), 
                -2px -2px 5px rgba(255, 255, 255, 0.7), 
                4px 4px 10px rgba(0, 0, 0, 0.1);
}
p{
    margin-bottom: 0;
}
.intro{
    background-color: #ffffff;
    color: #1A374E;
    text-align: center;
    padding: 5%;
    margin: 5%;
    border: 2px solid #77A3C7;
    font-size: small;
    font-weight: 500;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
.figure-intro{
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    padding: 0px;
    margin-top: 5%;
    width: 50%;
    }
/* .figure-intro:hover{
    width: 10%;
} */
.componentes{
    background-color: #1A374E;
    color: #ffffff;
    padding: 5%;
    font-size: small;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
.componentes ul {
    padding: 0%;
    margin: 0%;
}
.componentesFigure{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 5%;
}
table{
    border: 1px solid #1A374E;
    border-collapse: collapse;
    text-align: center;
    font-size: smaller;
    font-weight: bolder;
}
tr td{
    border: 1px solid #1A374E;
}
h3{
    font-size: 140%;
    text-align: center;
}
.escorrentia{
    background-color: #1A374E;
    color: #ffffff;
    text-align: center;
    height: 30%;
    padding: 5%;
    font-size: small;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
.uno{
    width: 100%;
    border: 2px solid #77A3C7;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
.e-uno{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 5%;
}
.eutro{
    background-color: #ffffff;
    color: #1A374E;
    text-align: center;
    vertical-align: middle;
    padding: 5%;
    font-size: small;
    font-weight: 500;
    border: 2px solid #77A3C7;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
.dos{
    width: 100%;
    border: 2px solid #77A3C7;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
.e-dos{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 5%;
} 
.tres{
    border-radius: 20px;
    border: 1px solid #77A3C7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
footer img{
    height: 30px;
    padding: 15%;
}
footer{
    background-color: #1A374E;
    color: #77A3C7;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footerTexto{
    margin-right: 1rem;
    margin-bottom: 0%;
}
#formulario{
    background-color: #1A374E;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: left;
    padding: 5%;
    font-size: medium;
    font-weight: 500;
    border: 2px solid #77A3C7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    margin: 5% 15%;
    justify-content: center;
    border-radius: 20px;
}
#formulario .form{
    padding: 5%;
}
#formulario .form li{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 6% 0 1% 0;
}

.seleccion{
    display: grid;
}
legend{
    font-size: medium;
}
.tipos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.errores{
    color: #ffffff;
    font-size: small;
}

.hDos{
    color: #77A3C7;
    font-weight: 700;
    text-align: center;
    text-shadow: 
                2px 2px 5px rgba(0, 0, 0, 0.1), 
                -2px -2px 5px rgba(255, 255, 255, 0.7), 
                4px 4px 10px rgba(0, 0, 0, 0.1);
}
.fotoPerfil{
    width: 15%;
}
#perfiles {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 5%;
}
.perfilUsuario {
    background-color: #ffffff;
    border: 2px solid #77A3C7;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    width: 250px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease;
}
.perfilUsuario:hover {
    transform: translateY(-5px);
}
.perfilUsuario img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}
.perfilUsuario h2 {
    font-size: 18px;
    margin: 10px 0;
    color: #333;
}
.perfilUsuario p {
    font-size: 12px;
    color: #666;
    font-weight: 600;
    margin: 5px 3px;
} 

@media (min-width: 557px){
    .portada{
        margin-top: 88px;
    }
}
@media (min-width: 768px){
    #grilla{
        display: grid;
        grid-template-areas: 
            "header header header header"
            "figure figure figure figure"
            "main main main main"
            "infouno infouno infodos infodos"
            "infocuatro infocuatro infocuatro infocuatro"
            "infotres infotres infotres infotres"
            "footer footer footer footer";
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
    header{ 
        grid-area: header;
    }
    figure{ 
        grid-area: figure;
    }
    main{ 
        grid-area: main;
        margin: 0 10%;
    }
    section#infouno{ 
        grid-area: infouno;
        align-self: center;
        margin-left: 5%;
    }
    section#infodos{ 
        grid-area: infodos;
        align-self: center;
        margin: 5% 10% 5% 5%;
    }
    section#infotres{ 
        grid-area: infotres;
        margin: 5%;
    }
    section#infocuatro { 
        grid-area: infocuatro;
    }
    footer{ 
        grid-area: footer;
    }
    .navbar-style .navbar-brand{
        font-size: x-large;
    }
    .logo {
        width: 45px;
    }
    .portada {
        margin-top: 103px;
    }
    h1 {
        margin-top: 6%;
        margin-bottom: 9%;
        font-size: 45px;
    }
    .intro{
        font-size: 16px;
    }
    .componentes{
        font-size: 16px;
        padding: 10%;
    }
    .figure-intro{
        width: 50%;
    }
    footer {
        height: 100px;
    }
    footer img{
        height: 45px;
    }
    .escorrentia{
        font-size: 20px;
    }
    .uno{
        width: 75%;
    }
    .eutro{
        font-size: 16px;
    }
    .dos{
        width: auto;
    }
    .tipos{
        width: 50%;
    }
}

@media (min-width: 1024px){
    #grilla{
        display: grid;
        grid-template-areas: 
            "header header header header"
            "figure figure figure figure"
            "main main main main"
            "infouno infouno infodos infodos"
            "infocuatro infocuatro infocuatro infocuatro"
            "infotres infotres infotres infotres"
            "footer footer footer footer";
        grid-template-columns: auto;
        grid-template-rows: auto; 
        }
    header{ grid-area: header;}
    figure{ grid-area: figure;}
    main{ grid-area: main;}
    section#infouno{ grid-area: infouno;}
    section#infodos{ grid-area: infodos;}
    section#infotres{ grid-area: infotres;}
    section#infocuatro { grid-area: infocuatro;}
    footer{ grid-area: footer;}
    .logo{
        width: 60px;
    }
    li{
        font-size: small;
    }
    h1{
        font-size: 55px;
    }
    img{
        width: 75%;
    }
    .figure-intro{
        display: flex;
        flex-flow: row;
        justify-content: center;
        border: none;
    }
    footer img{
        height: auto;
        padding: 0 5% 0 5%;
    }
    .e-uno{
        display: flex;
        flex-direction: row;
    }
    .e-dos{
        display: flex;
        flex-direction: row-reverse;
    }
    .componentes ul li{
        font-size: 16px;
    }
    .componentes{
        padding: 5%;
    }
    .tipos{
        width: 35%;
    }
}
